.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}


.topMargin {
    margin-top: 1rem;
}

.center {
    text-align: center;
}

.error {
    padding: 12px;
    border-radius: 21px;
    margin-bottom: 12px;
    background-color: #e76f51;
    color: #f0f0f0;
    font-size: 14px;
}